$soft-ref : hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-green:hsl(167, 40%, 24%); // graphic design text 
$dark-blue : hsl(198, 62%, 26%); //photographic text 
$dark-moderate: hsl(168, 34%, 41%); //footer 
$white: hsl(0, 0%, 100%);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.app{

   .app-header{
       position: relative;
       img{
           max-height: 500px;
           width: 100%;
       }
       .app-header-menu{
           position: absolute;
           top: 0;
           padding: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        .header-menu{
            margin-left: auto;
            display: flex;
            list-style-type: none;
            align-items: center;
            width: 50%;
            .header-item{
                width: calc(25% - 10px);
                & a {
                color: $white;
                font-family: 'Fraunces', serif;
                font-size: 1.2rem;
                text-decoration: none;
                }
                &:not(:last-child){
                }
               
                &:nth-child(4) a:hover{
                    background: hsl(200, 99%, 71%);
                    border-radius: 20px;
                    padding: 10px 20px;
                }
            }
            
        }
        //title
        .app-header-title{
            color: $white;
            font-family: 'Fraunces', serif;
            font-size: 1.5rem;
        }
       }
       .app-header-content{
           position: absolute;
           display: flex;
           flex-direction: column;
           align-items: center;
               top: calc(50% - 80px) ;
           left: 50%;
           transform: translate(-50%,-40%);
            img{
                width: 40px;
                flex-grow: 1;
            }
            .header-content_title{
                letter-spacing: 15px;
                color: $white;
                font-family: 'Barlow', sans-serif;
                font-weight: 600;
                font-size: 2.5rem;
                flex: 1 ;
            }
       }
   }
  //section intro 
  .content-intro{
      .content-intro-wrap{
          display: grid;
          grid-template-columns: 1fr 1fr ;
          .content-intro-item{
              position: relative;
              background-color: hsl(26, 100%, 99%);
              img{
                  width: 100%;
              }
              .content-intro-text{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 100%;
                  transform: translate(-50%,-50%);
                  padding:0 140px;
                  span{
                      display: inline-block;
                      &:first-child{
                        color:hsl(215, 24%, 14%);
                        font-family: 'Fraunces', serif;
                        font-size: 3rem;
                        font-weight: 800;
                        line-height: 3rem;
                        
                       
                    }
                    &:nth-child(2){
                        margin: 50px 0;
                        color:hsl(250, 5%, 50%);
                        font-weight: 550;
                    }
                    &:nth-child(3){
                        color:hsl(215, 24%, 14%);
                        font-weight: 800;
                        font-size: 1.3rem;
                        position: relative;
                        &:hover{
                            cursor: pointer;
                        }
                        &:hover::before{
                           content: '';
                           opacity: 0.5;
                           width: calc(100% + 20px) ;
                           bottom: -10px;
                           height: 16px;
                           background-color: hsl(50, 99%, 50%);
                            position:absolute;
                            left: -10px;
                            border-radius: 10px;
                        }
                    }
                  }
              }
             &:nth-child(4){
                & span.content-hightlight:hover::before{
                    content: '';
                    opacity: 0.5;
                    width: calc(100% + 20px) ;
                    bottom: -10px;
                    height: 16px;
                    background-color: red;
                     position:absolute;
                     left: -10px;
                     border-radius: 10px;
                }
             }
             &:nth-child(5),&:nth-child(6){
                 & .content-intro-text{
                     top:70%;
                     padding: 0 160px;
                     text-align: center;
                 }
             }
             
          }
          
      }

  }
  //client testimonial 
  .client-testimonials{
      padding: 150px;
      background-color: hsl(26, 100%, 99%);
      .client-testimonials-wrapp{
          h3{
              text-align: center;
          }
          .testimonial-customer-wrap{
              display: grid;
             grid-template-columns: 1fr 1fr 1fr ;
              .testiomonial-user{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .user_image{
                    margin-top: 20px;
                    img{
                        border-radius: 50%;
                    }
                }
                .user_comment{
                    margin:50px 0;
                    color: hsl(220, 1%, 44%);
                    font-family: 'Barlow', sans-serif;
                    flex: 1;
                }
                .user_sign{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .user_sign-text{
                        margin-bottom: 10px;
                        color:hsl(212, 10%, 29%);
                        font-family: 'Fraunces', serif;
                        font-size: 1.2rem;
                    }
                }
              }
             
            
          }
      }
  }
  //content image 
  .content-image{
      .content-image-wrap{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr ;
      }
  }
  //footer 
  .app-footer{
      padding:70px 0;
      background-color: hsl(167, 44%, 70%);
      .footer_wrap{
          width: 30%;
          margin: 0 auto;
        text-align: center;
        .footer-title{
            color: hsl(166, 45%, 31%);
            font-weight: 800;
            font-size: 1.7rem;
        }
        .footer-menu{
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            list-style: none;
            .footer-link{
                color:hsl(167, 27%, 51%);
                text-decoration: none;
                &:hover{
                    color:white;
                }
            }
        }
        .footer-icon-wrap{
            display: flex;
            justify-content: space-evenly;
            .footer-icon_image:hover{
                color: white;
            }
        }
      }
  }
}
// submenu 
.header-menu_mobile{
    display: none;
}
.header-item_submenu{
    display: none;
    list-style-type: none;
}
@media screen and  (max-width:1024px) {
    body{
        font-size: 16px;
    }
    .app{
        .app-header{
            .app-header_img{
                height:70vh;
                max-height:unset;
            }
            
          .app-header-menu{
              padding: 10px;
              align-items: unset;
              .header-menu{
                display: none;
            }
          }
          .header-menu_mobile{
              display: block;
              img{
                  width: 50px;
                  height: 35px;
                  margin-left: auto;
                  display: block;
              }
              
              
          }
          .header-menu_mobile:hover .header-item_submenu{
            display: block;
            left: 10px;
            background-color: white;
            text-align: center;
            width: calc(100% - 20px);
            position: absolute;
            top: 76px;
            padding: 40px;
                &::before{
                    content:'';
                    width: 0;
                    position: absolute;
                    right: 0;
                    top: -25px;

                    border-bottom: 25px solid white;
                    border-left: 25px solid transparent;
                }
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -20%;
                    border-bottom: 100;
                    width: 100%;
                    height: 37px;
                }
                  
          }
          .app-header-content{
              display: none;
          }
        }
        main{
            .content-intro{
                .content-intro-wrap{
                    grid-template-columns: 1fr;
                    grid-auto-rows: 1fr;   
                    .content-intro-item{
                        .content-intro-text{
                            padding: 0;
                            top: 0;
                            left: 0;
                            text-align: center;
                            transform: unset;
                            span:first-child{
                                font-size: 1.5rem;
                            }
                        }    
                    }
                      
                }
               
            }
        }
    }
   
    .app .content-intro .content-intro-wrap .content-intro-item:nth-child(5) .content-intro-text, .app .content-intro .content-intro-wrap .content-intro-item:nth-child(6) .content-intro-text {
        top: 50%;
        padding: 0;
        text-align: center;
        & span{
            margin: 0;
        }
    }
    .app .client-testimonials{
        padding: 0;
    }
    .app .client-testimonials .client-testimonials-wrapp h3{
        margin: 20px 0;
    }
    .app .client-testimonials .client-testimonials-wrapp .testimonial-customer-wrap{
       grid-template-columns: 1fr;
    }
    .app .client-testimonials .client-testimonials-wrapp .testimonial-customer-wrap .testiomonial-user .user_comment{
        padding: 0 10px;
    }
    .app .content-image .content-image-wrap{
        grid-template-columns: 1fr 1fr ;
        margin-top: 20px;
    }
    .app .app-footer .footer_wrap{
        width: 60%;
    }
}